.section-title-alt
  @extend .section-title
  @extend .text-center
  @extend .text-xlarge
  margin-bottom: 1.5em

hr.break-alt
  border-top: solid 2px #979797
  margin: 3em 0

.row-media
  div[class*="col-"]
    margin-bottom: 2em

.row-images
  div[class*="col-"]
    margin-bottom: $grid-gutter-width

#about-splash
  padding: 40px 0px
  background-color: rgba(0, 179, 216, 0.8)
  color: white
  text-align: center

#about-story
  padding: 60px 0
  background-color: white

#about-team
  padding: 60px 0
  .media-team
    .media-left
      img
        width: 125px
        @media (max-width: $screen-xs)
          width: 60px
    .media-heading
      a
        color: #333
    .media-body
      padding-left: 1em

#about-press
  padding: 60px 0
  background-color: white
