#about-splash
  background-repeat: no-repeat
  background-size: cover
  background-position: 50% 20%
  color: white
  text-align: center
  hr
    @extend hr.short
    border-top: 1px solid white
    width: 50%
    margin: 20px auto
  .opacity-layer
    padding: 50px 0px
    background: rgba(0, 179, 216, 0.8)

#about-story
  padding: 30px 20px
  background-color: white

#about-team
  padding: 30px 0
  .media-team
    .media-left
      img
        width: 125px
        @media (max-width: 480px)
          width: 60px
    .media-heading
      a
        color: #333
    .media-body
      padding-left: 1em
  .row-advisors
    margin-bottom: 30px

#about-press
  padding: 30px 0
  background-color: white
  .row-partners
    margin-bottom: 30px
