#challenge-header
  background-color: transparent
  padding: 0.25em 0em
  &.experience_stages,&.idea_stages,&.recipe_stages
    background-color: white
  &.experiences,&.ideas,&.cookbooks,&.recipes,&.solutions
    #challenge-nav
      background-color: white
  &.splash
    position: absolute
    top: 3.5em
    width: 100%
    z-index: 1000
    #challenge-nav
      background-color: white
  #challenge-nav
    @extend .text-center, .center-block, .text-small
    margin: 0.25em 1.5em
    padding: 0px
    +border-radius(2em)
    .badge
      @extend .text-default, .text-small
      +border-radius(2em)
      line-height: 2em
      background-color: white
      padding: 5px 15px
      .fa
        &.fa-check
          @extend .text-default
      .headline
        @extend .hidden-xs
        @extend .text-bolder
      &.active
        // background-color: #E9E9E9 !important
      &.selected
        .headline,.fa.fa-check
          @extend .text-white
      &:first-child
        margin-left: 0px
      &:last-child
        margin-right: 0px
    .badge-experience
      &.active
        .fa-stack-1x
          font-size: 1em
      &.selected
        background-color: $experience !important
    .badge-idea
      &.selected
        background-color: $idea !important
    .badge-recipe
      &.selected
        background-color: $recipe !important
    .badge-solution
      &.selected
        background-color: $solution !important
    .fa-angle-right
      color: #CECFD0

#challenge-overview
  padding: 4.5em 0em 1.5em
  background-repeat: no-repeat
  background-size: cover
  background-position: 50% 0%
  color: white
  .challenge-headline
    margin-bottom: 20px
  .embed-responsive
    margin-top: 10px

#challenge-description
  padding: 20px 0px 0px
  background-color: $lightGrayBG

#challenge-details
  padding: 15px 0px 30px
  background-color: $lightGrayBG
  .section-title
    color: $text-color
    font-weight: bold
    font-size: 1.9em
    line-height: 1.4em
  .section-description
    font-size: 1.5em
    margin-bottom: 30px
  h3
    font-size: 2em
  #challenge-process
    @extend .row-process
    margin-bottom: 45px
    .col-xs-6,.col-sm-3
      min-height: 300px
      .stage-recap
        a,p,div
          &:hover,&:focus,&:active,&.active
            text-decoration: none
        .challenge-fa-bubble
          &.pending
            .fa-circle-thin
              color: #D1D3D4
        h4
          font-size: 1.5em
          &:hover,&:focus,&:active,&.active
            text-decoration: underline
      .stage-cta
        @extend .text-center
        position: absolute
        bottom: 0px
        width: 100%
        margin: -15px
        p
          @extend .text-small
          margin-bottom: 5px
          &.pending
            color: #A5A7AA
        .btn
          @extend .text-small

#challenge-map
  background-repeat: no-repeat
  background-size: cover
  background-position: 50% 0%
  text-align: center
  .opacity-layer
    height: 500px
    padding: 30px 0px
    background: rgba(104, 196 ,217, 0.1)
    color: white
    .section-title
      margin: 0.5em 0
    .section-description
      color: white
  .map-avatar
    @extend .img-circle
    width: 4em
    display: none
    box-shadow: 0px 0px 10px 5px #ddd

#challenge-form
  padding: 30px 0px
  background-color: black
  color: white
  .section-title
    margin: 0 auto

#challenge-featured
  padding: 30px 0px
  background-color: $lightGrayBG

#challenge-panel
  padding: 30px 0px
  background-color: white
  .row-panelists
    @extend .center-block, .text-center
    margin-top: 20px
    margin-bottom: 20px
  .panelist-title
    @extend .text-center
    @extend .text-large
    margin: 0px

#challenge-invite
  padding: 30px 0px
  background-color: $lightGrayBG
