#landing-splash
  background-repeat: no-repeat
  background-size: cover
  background-position: 50% 25%
  .opacity-content
    padding: 40px 0
    color: white
    #headline
      margin: 10px 0px 30px
    .embed-responsive
      margin-top: 30px

#landing-what
  padding: 30px 0px
  background-color: white

#landing-stages
  padding: 30px 0px

#landing-suggest
  padding: 30px 0px
  background-color: white
  .section-description
    a
      color: $gray
      @extend .text-lighter

#landing-invite
  padding: 30px 0px
  background-color: $lightGrayBG

.row-work
  @extend .center-block, .text-center
  padding: 10px 0px

.row-process
  @extend .center-block, .text-center
  padding-top: 30px
  .fa-play
    float: right
    top: 1em
    position: relative
    font-size: 1.5em
    right: -25px
    color: #D1D3D4
  .challenge-fa-bubble
    width: 100% !important
    .fa-stack-2x
      font-size: 9em !important
    .fa-stack-1x
      &.fa-comment
        @extend .fa-4x
        top: 0.8em
      &.fa-lightbulb-o
        @extend .fa-4x
        top: 0.8em
      &.fa-flask
        @extend .fa-4x
        top: 0.8em
      &.fa-puzzle-piece
        @extend .fa-4x
        top: 0.8em
  .caption
    @extend .text-center
    @extend .text-black
    margin-top: 7em
    margin-bottom: 20px
    h4
      font-size: 1.5em
    .description
      line-height: 1.2em
      margin-bottom: 10px
