#landing-splash
  background-repeat: no-repeat
  background-size: cover
  background-position: 50% 25%
  .opacity-content
    padding: 4.5em 0em
    .headline
      @extend .text-center, .gray-text

#landing-what
  padding: 30px 0px
  background-color: white
  .icon-color
    color: #FFD690

#landing-stages
  padding: 30px 0px
  .section-description
    @media only screen and (min-width: 500px)
      margin-left: 4em
      margin-right: 4em
  #challenge-nav
    .descriptor-container
      align-items: flex-start
    .descriptor-body
      text-align: left

#landing-suggest
  background-color: $lightGrayBG
  .section-description
    a
      @extend .text-lighter
  .section-title
    text-align: center
  .section-description
    text-align: center

#landing-community
  background-color: white
  .well-testimonial
    position: relative
    width: 90%
    min-height: 250px
    margin: 2em auto
    .media
      position: absolute
      left: -1.5em
      right: 1.5em
      .media-left
        padding-right: 1.5em

#landing-invite
  padding: 30px 0px
  background-color: $lightGrayBG

.row-work
  @extend .center-block, .text-center
  padding: 10px 0px

.row-process
  @extend .center-block, .text-center
  padding-top: 30px
  .fa-angle-right
    float: right
    top: 1em
    position: relative
    font-size: 1.5em
    right: -25px
    color: #D1D3D4
  .challenge-fa-bubble
    width: 100% !important
    .fa-stack-2x
      font-size: 9em !important
    .fa-stack-1x
      &.fa-comments, &.fa-lightbulb-o, &.fa-flask, &.fa-paper-plane-o
        @extend .fa-4x
        top: 0.85em
  .caption
    @extend .text-center
    @extend .text-black
    margin-top: 7em
    margin-bottom: 20px
    h4
      font-size: 1.5em
    .description
      line-height: 1.2em
      margin-bottom: 10px

.engagement-link
  color: $blueText
  &:hover,&:focus,&:active,&.active
    text-decoration: none
    color: darken($blueText, 15%)

.light-gray-text
  color: $lightGrayText

.light-gray-text
  color: $lightGrayText

.dark-text
  color: $darkText

.gray-text
  color: $grayText

.padding-xxxl-vertical
  padding-top: $padding-xxxl-vertical
  padding-bottom: $padding-xxxl-vertical
