/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
  font-family: 'Roboto', sans-serif;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {

}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}
.navbar-inverse {
  background-color: transparent;
  border: none;
}

.navbar-brand{
  padding: 0px;
}
.navbar-inverse .navbar-nav>li>a{
  color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a:hover{
  color: #444444;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background-color: transparent;
  font-weight: bold;
}
.topMap {
  height: 850px;
  margin-bottom: 60px;
  background: #68c4d9; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #68c4d9 34%, #0d405f 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  #68c4d9 34%,#0d405f 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  #68c4d9 34%,#0d405f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68c4d9', endColorstr='#0d405f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.map-section{
  position:relative;
  height: 850px;
  width:100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  margin-bottom: 50px;
}

.map-position{
  z-index: 30;
  position:absolute;

  }


 .popins{
  height:700px;
  z-index: 40;
 }

.box1{}

.image1, .image6,.image11, .image16{
position:absolute;
  top: 450px;
  left:690px;
z-index: 50;
}

.box2{}

.image2, .image7,.image12, .image17{
position:absolute;
  top: 350px;
  left:180px;
z-index: 50;
}

.box3{}

.image3, .image8,.image13, .image18{
position:absolute;
  top: 180px;
  left:850px;
z-index: 50;
}

.box4{}

.image4, .image9,.image14, .image19{
position:absolute;
  top: 185px;
  left:90px;
z-index: 50;
}
.box5{}
.image5, .image10,.image15, .image20{
position:absolute;
  top:500px;
  left:800px;
z-index: 50;
}

.boxes-quote{
  position:absolute;
  top:200px;

  z-index: 51;
  display: block;
  text-align: center;
  font-size: 27px;
  width: 100%;

}

.what-does{
  z-index: 60;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px #015065;
}
.calltoaction{

}
.belonging-form{
    text-align: center;
  }
.belonging-form > .featurette-heading {
    margin-top: 30vh;

}
.space{
  margin-bottom: 20px;
}

.div-center{

}

.belonging-intro-quote{
  font-size: 25px;
  font-weight: bold;
  color:#7cc8da;
}

.belonging-intro-name{
   font-family: 'Roboto Condensed', sans-serif;
   color:#1c7488;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.sectionTitle{
  text-align: center;
  font-size: 28px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.belonging-means{
  margin-bottom: 50px;
}




.slide-controls{
  margin-top: 20px;
  background-color: #d1f0f7;
  height: 50px;

}
.carousel-control{
  margin-bottom: 10px;
}
.slider-profile{
  width: 100%;
}



.carousel-indicators {
    bottom: 5px;
}
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: 100;
  font-size: 40px;
  color: #006fa1;
}

.marketing h5 {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 25px;

}
.row {
    margin-right: 0px;
    margin-left: 0px;
}

.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}
.boxes div {
    display: none;
}
.dark{

background: #1c1c1c; /* Old browsers */
background: -moz-linear-gradient(top,  #1c1c1c 0%, #3a3a3a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #1c1c1c 0%,#3a3a3a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #1c1c1c 0%,#3a3a3a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1c1c', endColorstr='#3a3a3a',GradientType=0 ); /* IE6-9 */

}
.mid-dark{
  color: #ffffff;
background: #535353; /* Old browsers */
background: -moz-linear-gradient(top, #535353 0%, #262626 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #535353 0%,#262626 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #535353 0%,#262626 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#535353', endColorstr='#262626',GradientType=0 ); /* IE6-9 */
}

.first-challenge{
color: #ffffff;
text-align: center;
}

#first-challenge-exp{
  padding:30px;

}


.first-challenge h2{
  font-family: 'Roboto', sans-serif;
font-weight: 200;
font-size: 30px;
margin-top: 30px;
margin-bottom: 20px;
color: #ffffff;

}


.chall-expand-button{
  background-color: transparent;
  border: none;
  color: #68c4d9;
}

.chall-expand-button:hover{
   background-color: transparent;
  border: none;
}

.chall-expand-button:active{
     background-color: transparent;
  border: none;
}
.chall-expand-button:visited,.chall-expand-button:focus{
     background-color: transparent;
  border: none;
}
.chal-row{
  margin-bottom: 30px;
}

.first-chal-img{
  width:200px;
  height:200px;
  margin-right: 20px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.aboutus{
    background-image: url("/assets/welcome/bg.jpg");
    padding-bottom: 80px;
    padding-top: 80px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

footer{
  height:270px;
  color: #ffffff;
  text-decoration: none;
  padding-top: 20px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
background: #45484d; /* Old browsers */
background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}
