<!-- NAVBAR
  ================================================== -->
  <body>

 <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <form class="form-horizontal" role="form">
        <fieldset>

          <!-- Form Name -->
          <h2 class="sectiontitle">Tell us about what's working!</h2>
          Help us find the bright spots where people are already doing an incredible job of creating a sense of belonging, advocating for student voice, coaching their peers, building community online or in person, and more. Tell us about the individuals, projects, or programs you think are amazing, why they stand out, and how we can reach them.

  <hr >
          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Name</label>
            <div class="col-sm-10">
              <input type="text" placeholder="Address Line 1" class="form-control">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Email</label>
            <div class="col-sm-10">
              <input type="text" placeholder="Address Line 2" class="form-control">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Location</label>
            <div class="col-sm-10">
              <input type="text" placeholder="City" class="form-control">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Tell us about the bright spot </label>

            <div class="col-sm-10">
              <textarea name="why" cols="70" rows="5" class="form-control">Tell us about educators, programs or anything you think is making a difference in your community</textarea>
            </div>

            <label class="col-sm-2 control-label" for="textinput">Who can we contact to learn more?</label>
            <div class="col-sm-4">
              <input type="radio" name="contact-options" value="me"> Me<br>
              <input type="radio" name="contact-options" value="them"> Them <input type="text" name="other_reason" />​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​<br>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="pull-right">
                <button type="submit" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </div>

        </fieldset>
      </form>
    </div><!-- /.col-lg-12 -->
</div><!-- /.row -->
    </div>
  </div>
</div>


    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><%= image_tag "welcome/sevenzo-wht.png" %></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav" style="float: right">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>


    <!-- Hero
    ================================================== -->
    <div id="myMap" class=" topMap">
     <div class="row">
      <div class="map-section">
        <img class="map-position" src="img/map.png">
        <div class="boxes">
          <div class="box1">
            <img class="image1" src="img/1.png">
            <!-- <span class="boxes-quote"><em>O</em> - Michelle</span> -->
          </div>
          <div class="box2">
            <img class="image2" src="img/2.png">
            <!--    <span class="boxes-quote"><em>P</em> - R0bot</span> -->
          </div>
          <div class="box3">
            <img class="image3" src="img/3.png">
            <!--  <span class="boxes-quote"><em>B</em>  - Guy</span> -->
          </div>
          <div class="box4">
            <img  class="image4" src="img/4.png">
            <!--  <span class="boxes-quote"><em>O/em>  - Kim</span> -->
          </div>
          <div class="box5">
            <img class="image5" src="img/5.png">
            <!--    <span class="boxes-quote"><em>I</em>  - Kim</span> -->
          </div>



          <div class="box6"><img class="image6" src="img/6.png"></div>
          <div class="box7"><img class="image7" src="img/7.png"></div>
          <div class="box8"><img class="image8" src="img/8.png"></div>
          <div class="box9"><img class="image9" src="img/9.png"></div>
          <div class="box10"><img class="image10" src="img/10.png"></div>
          <div class="box11"><img class="image11" src="img/11.png"></div>
          <div class="box12"><img class="image12" src="img/12.png"></div>
          <div class="box13"><img class="image13" src="img/13.png"></div>
          <div class="box14"><img class="image14" src="img/14.png"></div>
          <div class="box15"><img class="image15" src="img/15.png"></div>


        </div>



        <div class="row">
          <div class="col-md-8 col-sm-offset-2  what-does">

            <form>
              <div class="form-group belonging-form">
                <h2 class="featurette-heading"><p>What does "belonging" mean to you?<p></h2>
                <div class="form-group row">
                  <div class="col-xs-10 col-lg-offset-1">
                    <input class="form-control calltoaction space " type="text" value="To me &quot;belonging&quot; means..." id="belong-means">
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Sign in with Facebook</button>
              </form>
            </div>

          </div>
        </div>
      </div>



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row belonging-means">
        <h2 class="sectionTitle">What does "belonging" mean to others?</h2>
        <h5 class="sectionTitle">We interviewed students, parents, educators and researchers to find out what belonging means to them. Here’s what they told us:</h5>
        <div id="whatCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->


          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
             <div class="col-lg-6">
              <img class="slider-profile" src="img/danyelle.jpg" alt="">
              <h3 class="belonging-intro-name">Danyelle Durall, DC parent & educator</h3>
              <p><span class="belonging-intro-quote">Belonging is:</span>  When my children and students have the same access & aspirations as their peers, whether black, white, or Hispanic</p>

            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
              <img class="slider-profile" src="img/Jonathan.jpg" alt="" >
              <h3 class="belonging-intro-name" >Jonathan Rivers, DC school social worker</h3>
              <p><span class="belonging-intro-quote">Belonging is:</span>  Absolutely essential for students to feel that they are able to grow and trust.</p>

            </div><!-- /.col-lg-6 -->
          </div>

          <div class="item">
           <div class="col-lg-6">
            <img class="slider-profile" src="img/Mai.jpg" alt="" >
            <h3 class="belonging-intro-name">Mai S., San Francisco student</h3>
            <p><span class="belonging-intro-quote">Belonging is:</span>  People accepting me as a black muslim girl and acknowledging me as a regular human being</p>

          </div><!-- /.col-lg-6 -->

          <div class="col-lg-6">
            <img class="slider-profile" src="img/Jada.jpg" alt="" >
            <h3 class="belonging-intro-name">Jada P., DC student</h3>
            <p><span class="belonging-intro-quote">Belonging is:</span>  A place where you are supposed to be and where you are needed</p>

          </div><!-- /.col-lg-6 -->

        </div>

        <div class="item">
         <div class="col-lg-6">

          <img class="slider-profile" src="img/Paige.jpg" alt="" >
          <h3 class="belonging-intro-name">Paige Hoffman, DC Public Schools staff</h3>
          <p><span class="belonging-intro-quote">Belonging is:</span> When the weight of the world and all the expectations people have of you just come off</p>

        </div><!-- /.col-lg-6 -->

        <div class="col-lg-6">

          <img class="slider-profile" src="img/William.jpg" alt="" >
          <h3 class="belonging-intro-name">William Gardener, DC uncle</h3>
          <p> <span class="belonging-intro-quote">Belonging is:</span> Being a productive part of my community where we all work together to educate our children</p>

        </div><!-- /.col-lg-6 -->

      </div>

    </div>

    <div class="slide-controls col-lg-12">
      <a class="left carousel-control" href="#whatCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <ol class="carousel-indicators">
        <li data-target="#whatCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#whatCarousel" data-slide-to="1"></li>
        <li data-target="#whatCarousel" data-slide-to="2"></li>
      </ol>

      <a class="right carousel-control" href="#whatCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


    <!-- Left and right controls -->


  </div>
</div><!-- /.row -->

</div>
<div class="row dark">
  <div class="container marketing">
    <div class="col-md-10 col-md-push-1">
     <div class="first-challenge">
      <h2 >Our First Challenge  </h2>
      <h5>Over the next few months, Sevenzo is bringing together students and educators from across the country to find what works to create a sense of belonging and spread those bright spots to as many places as possible.</h5>

      <button type="button" class="btn btn-info chall-expand-button" data-toggle="collapse" data-target="#first-challenge-exp">Read More<br/>
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></button>
      </div>
    </div>
  </div>
</div>

<div id="first-challenge-exp" class="row collapse mid-dark">
  <div class="col-md-12">
    <div class="container marketing">
      <div  class="row featurette chal-row">

        <div class="col-md-4  col-md-push-1 col-sm-12 first-chal-img"><img src="img/creating.png" alt="" >
        </div>
        <div class="col-md-6 col-md-push-1 col-sm-12">
         Be part of a community of students and educators who care deeply about fostering belonging. We’re talking to individuals from across the country → connecting conversations → platform. We welcome students and classroom teachers as well as principals, support staff, and district administrators to join our community, because it takes all of you to create a sense of belonging in schools. Our challenges platform, launching later this fall, is designed to be a space for meaningful conversation, a place to translate ideas into action.

       </div>

     </div>
     <div  class="row featurette chal-row">

      <div class="col-md-4 col-md-push-1 col-sm-12 first-chal-img"><img src="img/finding.png" alt="" >
      </div>
      <div class="col-md-6 col-md-push-1 col-sm-12">
       Find the bright spots in communities like yours. Around the country, students are starting the school year feeling like they are back in a place where they belong. We think that we should highlight and celebrate what’s already working in classrooms, schools, and communities, and we want to hear what’s happening in your community.
     </div>

   </div>

   <div  class="row featurette chal-row">

    <div class="col-md-4  col-md-push-1 col-sm-12 first-chal-img"><img src="img/sharing.png" alt="" >
    </div>
    <div class="col-md-6 col-md-push-1 col-sm-12">
     Spread what works to more places. We don’t believe there are cookie-cutter solutions in education, but we don’t have to start from scratch, either! We look for the core ingredients and process steps to understand what makes each bright spot work, creating flexible implementation recipes. Along the way, we’ll share what our community is learning about how the recipes evolve to light up new bright spots.

   </div>

 </div>

</div>

</div>
</div>

<!-- START THE FEATURETTES -->


<div class="container marketing">

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-12 text-center">
      <h2>Get the Sevenzo newsletter!!</h2>

      <p>Keep in touch!</p>

      <form action="" method="post">

       <input type="text" id="" name="" placeholder="First Name">
       <input type="text" id="" name="" placeholder="Last Name">
       <input type="text" id="" name="" placeholder="your@email.com">

       <input type="submit" value="Subscribe Now!" class="btn btn-large" />
     </form>

   </div></div>
   <hr class="featurette-divider">
   <div class="row featurette">

    <div class="col-md-6">
      <a class="twitter-timeline"  data-height="500" href="https://twitter.com/sevenzoedu">Join the Conversation!</a> <script async src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>
<hr class="featurette-divider">

  <div class="row featurette aboutus">
    <div class="col-md-8 col-md-push-2 text-center ">
          <h2>About Sevenzo</h2>

         <p>Sevenzo is a new social impact nonprofit dedicated to building community to spread what works so that all learners can reach their full potential. Our name means the communal effort that makes change possible. With your help, we can ensure that all students feel a sense of belonging in their schools and communities so that they can learn and thrive.</p>

  <button type="button" class="btn btn-primary">Read our Story</button>
</div>

</div>
<hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-12 text-center">
          <h2>Know someone who's making a difference?</h2>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Tell us about them!</button>
</div>

</div>
<hr class="featurette-divider">



<!-- /END THE FEATURETTES -->


<!-- FOOTER -->


</div><!-- /.container -->
<footer>
  <div class="row">
    <div class="col-md-4 text-center">
      <h3>Links</h3>
<p>Blog</p>
<p>Careers</p>
<p>Terms & Conditions </p>
<p>Privacy Policy</p>


   </div>
   <div class="col-md-4"></div>
   <div class="col-md-4"><h5>With support from:</h5>

<img src="img/Raikes-Foundation.png" alt="" >


   </div>
 </div>

<div class="row">
    <div class="col-md-4 col-md-push-4 text-center">
     <p>&copy; 2016 Sevenzo &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>

   </div>
</div>

</footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>src="js/jquery-3.1.0.min.js"</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="js/popups.js"></script>
  </body>
  </html>
