<div id='challenge-engagement'>
  <div class='opacity-content'>
    <div class='container'>
      <div class='row'>

        <div class='col-md-6'>
          <div class="well engagement left">
            <div>
              <%= image_tag "about/teachers2.jpg", width: '100%' %>
            </div>
            <div class="padding-vertical-xxl">
              <div class='description text-center text-large text-white'>Share what belonging means to you. #edubelong</div>
              <div class='text-center center-block'>
                <%= link_to "Download the Toolkit here", "https://s3-us-west-2.amazonaws.com/sevenzo-production/challenge/1/BelongingChallengeToolkit.zip", target: "_blank", class: 'btn btn-lg btn-rounded btn-longer btn-info half-margin-bottom btn-cta-right' %>
              </div>
            </div>
          </div>
        </div>

        <div class='col-md-6'>
          <div class="engagement right">
            <h2>Current challenge</h2>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
