<div id='challenge-map' style="background-image:url('<%= asset_path("home/map_color.png") %>')">
  <div class='opacity-layer'>
    <div class='opacity-content'>
      <div class='container'>
        <div class='row'>
          <div class='col-md-10 col-md-offset-1'>

          <% if current_page?(root_path) %>
            <h1 class="section-title text-center"><%= challenge.headline %></h1>
            <p class='section-description'>Educators from across the country are talking about our first challenge. Share your voice below!</p>
          <% else %>
            <h2 class="section-title text-center">
              Here's what people are saying about <%= challenge.goal %>.
              <br>
              <small class='text-white'>Share your voice below!</small>
            </h2>
          <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: "challenges/comment", locals: { challenge: @challenge } %>
