<div id='challenge-overview' style='background-image:url("<%= challenge.banner.present? ? challenge.banner.url.html_safe : asset_path('home/bg.jpg') %>")'>
  <div class='opacity-content'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>

          <div class='row'>
            <div class="col-sm-11 col-sm-offset-1">
              <h3 class='text-normal' style='margin-bottom: 0'>Current challenge</h3>
              <h1 class='challenge-headline'><%= challenge.headline.html_safe %></h1>
            </div>
          </div>

          <div class='row row-cta'>
            <div class="col-sm-11 col-sm-offset-1">
              <% if @challenge.video_url %>
                <div class='div-cta'>
                  <button type="button" class="btn btn-lg btn-rounded btn-longer btn-info half-margin-bottom btn-cta-left" data-toggle="modal" data-target="#challenge-video">
                    <i class='fa fa-play-circle-o play-icon'></i> Watch the Video
                  </button>
                </div>

                <div class="modal fade" id="challenge-video">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-body">
                        <%= @challenge.video_url.html_safe %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>

              <div class='div-cta'>
                <%= link_to 'Join the Conversation', challenge_active_stage_path(challenge), class: 'btn btn-lg btn-rounded btn-longer btn-info half-margin-bottom btn-cta-right' %>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
