<div id='challenge-overview' style='background-image:url("<%= challenge.banner.present? ? challenge.banner.url.html_safe : asset_path('home/bg.jpg') %>")'>
  <div class='opacity-content'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>

          <h1 class='challenge-headline'>
            <small class='text-white'>Current challenge</small>
            <br>
            <%= challenge.headline.html_safe %>
          </h1>
          <%= link_to 'Join the Challenge', challenge_experience_stage_path(challenge, challenge.experience_stage), class: 'btn btn-lg btn-rounded btn-longer btn-info half-margin-bottom btn-cta' %>

        </div>
      </div>
    </div>
  </div>
</div>
