<div id="myMap" class=" topMap">
  <div class="map-section">
    <img class="map-position" src="img/map.png">
    <div class="boxes">
      <div class="box1">
        <img class="image1" src="img/michelle.png">
        <span class="boxes-quote"><em>OMG I'm sooo Drunk</em> - Michelle</span>
      </div>
      <div class="box2">
        <img class="image2" src="img/rob.png">
        <span class="boxes-quote"><em>Pwning Noobs!</em> - R0bot</span>
      </div>
      <div class="box3">
        <img class="image3" src="img/guy.png">
        <span class="boxes-quote"><em>BAM Kick it up!!!!!</em>  - Guy</span>
      </div>
      <div class="box4">
        <img  class="image4" src="img/kim.png">
        <span class="boxes-quote"><em>Owning Things</em>  - Kim</span>
      </div>
      <div class="box5">
        <img class="image5" src="img/jong.png">
        <span class="boxes-quote"><em>I guess just feeling cared for.</em>  - Kim</span>
      </div>
    </div>
  </div>
</div>
