<%= render partial: 'challenges/header' %>

<div id='cookbook-overview'>
  <div class='container'>

    <%= render partial: 'cookbooks/header', cache: true %>

  </div>
</div>

<div id='cookbook-comments'>
  <div class='container'>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <%= render partial: 'comments/discussion', locals: { commentable: @cookbook }, cache: true %>

      </div>
    </div>
  </div>
</div>
