<!-- For the time being, we pass @challenge = Challenge.featured just so as not to break it. We'll remove it + all dependencies on @challenge eventually -->
<div id='suggestion-overview'>
  <div class='container'>

    <%= link_to "<i class='fa fa-close fa-2x'></i>".html_safe, root_path %>
    <div class='clearfix'></div>

    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>

        <div class='suggestion-block'>
          <h6 class='suggestion-header'>Suggestion</h6>
          <h2 class='suggestion-title'>Suggestion</h2>
        </div>

        <div class="well well-lg well-suggestion">
          <%= render partial: 'suggestions/form', locals: { url: suggestion_path, cancel_path: root_path, submit_text: "Update" } %>
        </div>

      </div>
    </div>
  </div>
</div>

<div id='suggestion-comments'>
  <div class='container'>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <%# render partial: 'comments/discussion', locals: { commentable: @suggestion } %>

      </div>
    </div>
  </div>
</div>

<div id='suggestion-share'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>

        <h2 class='section-title text-submit'>Know people who have something to add to this conversation?</h2>
        <p class='section-description'>More people means more problems solved. Share this Suggestion!</p>

        <%= render partial: 'layouts/share_links', locals: { url: root_url, hashtag: @challenge.hashtag, tweet: "Take the #{@challenge.title}! If you use video for professional learning, share your Suggestion.", title: "Share Your Suggestion Using Video", description: "Are you an innovative educator? Then help revolutionize how educators across America come together to reimagine innovation in K-12 teaching and learning.", subject: "Do you use video to learn? Join the #{@challenge.title}!" } %>

      </div>
    </div>
  </div>
</div>
